@import "tailwindcss";

@font-face {
  font-family: "Bloxat";
  src: url("/fonts/bloxat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay.woff2") format("woff2"),
    url("/fonts/ClashDisplay.woff") format("woff"),
    url("/fonts/ClashDisplay.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
  unicode-range: U+0000-001F, U+0021-007F;
}

:root {
  --radius: 0.65rem;
  --background: oklch(0.95 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(45.4% 0.222 16.935);
  --destructive-hover: oklch(58.6% 0.253 17.585);
  --destructive-text: oklch(60.4% 0.191 22.216);
  --destructive-text-hover: oklch(70.4% 0.191 22.216);
  --success: oklch(45% 0.145 163.225);
  --success-hover: oklch(50.6% 0.145 163.225);
  --success-text: oklch(59.6% 0.145 163.225);
  --success-text-hover: oklch(69.6% 0.145 163.225);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(255 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.93 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(45.5% 0.188 13.697);
  --destructive-hover: oklch(51.4% 0.222 16.935);
  --destructive-text: oklch(60.4% 0.191 22.216);
  --destructive-text-hover: oklch(70.4% 0.191 22.216);
  --success: oklch(45% 0.145 163.225);
  --success-hover: oklch(50.6% 0.145 163.225);
  --success-text: oklch(76.5% 0.177 163.223);
  --success-text-hover: oklch(69.6% 0.17 162.48);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@variant dark (&:where(.dark, .dark *));

@theme inline {
  /* Base variables mapped to Tailwind theme tokens */
  --font-number: "Bloxat", sans-serif;
  --font-clash: "ClashDisplay", sans-serif;

  --radius: var(--radius);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  /* DANGER */
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-text: var(--destructive-text);
  --color-destructive-text-hover: var(--destructive-text-hover);
  /* SUCCESS */
  --color-success: var(--success);
  --color-success-hover: var(--success-hover);
  --color-success-text: var(--success-text);
  --color-success-text-hover: var(--success-text-hover);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* SECONDARY COLOR */
  --color-brand-100: oklch(99.5% 0 89.876);
  --color-brand-200: oklch(99.03% 0.005 175.579);
  --color-brand-300: oklch(97.51% 0.02 175.025);
  --color-brand-400: oklch(94.941% 0.041 174.498);
  --color-brand-500: oklch(91.502% 0.069 173.13);
  --color-brand-600: oklch(87.281% 0.097 171.371);
  --color-brand-700: oklch(82.354% 0.123 169.37);
  --color-brand-800: oklch(76.663% 0.141 167.156);
  --color-brand-800: oklch(70.699% 0.15 164.02);
  --color-brand-900: oklch(51.706% 0.128 164.369);
  --color-brand-1000: oklch(35.207% 0.101 164.75);
  --color-brand-1100: oklch(21.783% 0.072 165.517);
  --color-brand-1200: oklch(11.217% 0.044 166.769);

  /* SECONDARY COLOR */
  --color-brandsec-100: oklch(99.5% 0 89.876);
  --color-brandsec-200: oklch(98.609% 0 228.786);
  --color-brandsec-300: oklch(95.738% 0.002 258.327);
  --color-brandsec-400: oklch(90.866% 0.004 247.921);
  --color-brandsec-500: oklch(83.828% 0.007 258.346);
  --color-brandsec-600: oklch(74.612% 0.01 248.022);
  --color-brandsec-700: oklch(62.9% 0.014 251.681);
  --color-brandsec-800: oklch(48.877% 0.018 251.368);
  --color-brandsec-800: oklch(31.738% 0.023 253.622);
  --color-brandsec-900: oklch(23.861% 0.02 251.554);
  --color-brandsec-1000: oklch(16.772% 0.015 252.426);
  --color-brandsec-1100: oklch(10.994% 0.01 248.406);
  --color-brandsec-1200: oklch(6.207% 0.006 255.646);

  /* Chart Colors */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Sidebar Colors */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Radius tokens */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.125rem);
  --radius-2xl: calc(var(--radius) + 0.375rem);

  --ease-fluid: cubic-bezier(0.7, 0, 0.2, 1);
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-background;
}

ol:has(li.my-toast) {
  @apply !flex !justify-center;
}

[data-expanded="true"].my-toast,
[data-type="error"].my-toast,
[data-type="loading"].my-toast,
[data-type="success"].my-toast {
  @apply !border-none !rounded-full !shadow-none !ease-fluid !py-3 !px-6 !flex !items-center !justify-center !w-max whitespace-nowrap;
}

[data-type="success"].my-toast {
  @apply !bg-emerald-50 !text-emerald-700 dark:!bg-emerald-950 dark:!text-emerald-100 shadow-background;
}

[data-type="loading"].my-toast {
  @apply !bg-muted !text-muted-foreground shadow-background;
}

[data-type="error"].my-toast {
  @apply !bg-red-50 !text-red-700 dark:!bg-red-950 dark:!text-red-100 shadow-background;
}
.my-toas > [data-content] {
  @apply !flex !items-center;
}

.squircle {
  corner-shape: squircle;
}
